In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

In [2]:
with open("model_k1.pkl", 'rb') as file:  
    model = pickle.load(file)

In [3]:
model

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [4]:
exemple =pd.DataFrame([[5,30]],columns=['Annual Income (k$)',
       'Spending Score (1-100)'])
exemple

   Annual Income (k$)  Spending Score (1-100)
0                   5                      30

In [5]:
model.predict(exemple)

array([4], dtype=int32)